a.fi-magnifying-glass {
	margin-left: 160%;
	text-decoration: none;
	text-align: center;
	font-size:40px;
	color:black;
	cursor: pointer;
}

a.fi-magnifying-glass:hover {
	text-decoration: none;
	color:#F65C6C;
	cursor: pointer;
}

#url_input input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: helvetica;
	font-size: 60%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background:transparent;
	border: none;
	width: 0;
	cursor: auto;
	margin-left: 160%;
}

#imageSearch input[type=search] {
	cursor: auto;
}

#imageSearch input[type=search]:focus {
	width: 100%;
	outline: none;
	color: #000;
	cursor: auto;
}